body {
    margin: 0;
    background-color: lightgray;
    background-image: url("../images/RDR13.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #boton-inicio, #boton-restart, #boton-restart2 {
    background-color: rgb(232, 157, 243);
    color: white;
    height: 100px;
    width: 250px;
    padding: 20px;
    font-size: 50px;
    margin-top: 40px;
    border-radius: 10px; 
    border: 2px solid rgb(255, 250, 106);
    text-shadow:2px 2px 5px rgb(215, 3, 194);
  }

  #boton-choose {
    background-color: rgb(232, 157, 243);
    color: white;
    height: 150px;
    width: 250px;
    padding: 20px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px; 
    border: 2px solid rgb(255, 250, 106);
    text-shadow:2px 2px 5px rgb(215, 3, 194);
  }

  #boton-inicio:hover, #boton-restart:hover, #boton-restart2:hover {
    background-color: rgb(232, 157, 243);
    color: white;
    padding: 20px;
    width: 280px;
    height: 125px;
    font-size: 70px;
    margin-top: 40px;
    border-radius: 10px; 
    border: 2px solid rgb(255, 250, 106);
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  #btn-jimbo:active, #btn-trinity:active, #btn-monet:active, #btn-shea:active, 
  #btn-plastique:active, #btn-angeria:active, #boton-inicio:active, #boton-restart:active, 
  #boton-restart2:active, #boton-choose:active {
  transform: scale(0.95);
  background-color: rgb(200, 120, 230);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

  #boton-choose:hover {
    background-color: rgb(232, 157, 243);
    color: white;
    padding: 20px;
    width: 270px;
    height: 170px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px; 
    border: 2px solid rgb(255, 250, 106);
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }
  
  #caja-eleccion {
    background-color: none;
    width:1000px;
    height:800px;
    display: flex;

    flex-wrap: wrap;
    gap: 80px; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
    background-position: center;
    background-size: cover;

  }

  #btn-jimbo, #btn-trinity, #btn-monet, #btn-shea, #btn-plastique, #btn-angeria {
    background-color: rgb(232, 157, 243);
    color: white;
    padding: 20px;
    width: 270px;
    height: 170px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid rgb(255, 250, 106);
    justify-content: space-around ;
  }

  #btn-jimbo:hover {
    background-image: url("../images/jimbo.jpeg");
    background-size: cover;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  #btn-shea:hover {
    background-image: url("../images/shea.jpeg");
    background-size: cover;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  #btn-angeria:hover {
    background-image: url("../images/angeria.jpeg");
    background-size: cover;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  #btn-monet:hover {
    background-image: url("../images/Monet.jpeg");
    background-size: cover;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  #btn-plastique:hover {
    background-image: url("../images/plastique.jpeg");
    background-size: cover;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  #btn-trinity:hover {
    background-image: url("../images/trinity.jpeg");
    background-size: cover;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #cajas-extra {
    display: flex;
    flex-direction: row;
  }
  
  #caja-juego {
    background-color: rgb(242, 245, 155);
    background-image: url("../images/rupaulfondo.jpg");
    width:1000px;
    height:800px;
    border-radius: 10px;
    border: 5px solid rgb(241, 154, 239);
  
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
    background-position: center;
    background-size: cover;
  }

  #caja-vidas {
    width: 300px;
    height: 100px;
    background-color: rgb(242, 245, 155);
    border-radius: 10px;
    border: 2px solid rgb(241, 154, 239);
    background-color:  transparent;
    position: relative;
  }

  #contador {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid rgb(241, 154, 239);
    background-color:  transparent;
    position: relative;
  }
  
  #caja-juego * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }
  
  #pantalla-juego, #pantalla-final, #pantalla-gameover, #pantalla-eleccion {
    display: none;
  }