body {
    margin: 0;
    background-color: lightgray;
    background-image: url("/images/RDR13.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #boton-inicio {
    background-color: rgb(232, 157, 243);
    color: white;
    height: 100px;
    width: 250px;
    padding: 20px;
    font-size: 50px;
    margin-top: 40px;
    border-radius: 10px; 
    text-shadow:2px 2px 5px rgb(215, 3, 194);
  }
  #boton-inicio:hover {
    background-color: rgb(232, 157, 243);
    color: white;
    padding: 20px;
    width: 280px;
    height: 125px;
    font-size: 70px;
    margin-top: 40px;
    border-radius: 10px white; 
    text-shadow:2px 2px 5px rgb(215, 3, 194);
    transition: 0.3s;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #caja-juego {
    background-color: rgb(242, 245, 155);
    width:1000px;
    height:800px;
    border-radius: 10px;
    border: 5px solid rgb(241, 154, 239);
  
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
    background-image: url();
    background-position: center;
    background-size: cover;
  }
  
  #caja-juego * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }
  
  #pantalla-juego, #pantalla-final {
    display: none;
  }